<p style="text-align: center;">nuestros-productos works!</p>
<div style="align-items: center;
text-align: center;
justify-content: center;
background-image: url('../../../assets/images/portada2.jpg');
opacity: 0.5;">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Foto">
            <div class="example-small-box mat-elevation-z4">
                <img src="../../../assets/images/plato1.png">
            </div>
        </mat-tab>
        <mat-tab label="Descripción">
            <div class="example-small-box mat-elevation-z4">
                <h2>
                    <p>Precio: 135.00</p>
                    <p>Categoría: comida</p>
                </h2>
            </div>
        </mat-tab>
        <mat-tab label="label"></mat-tab>
    </mat-tab-group>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Foto">
            <div class="example-small-box mat-elevation-z4">
                <img src="../../../assets/images/plato2.png">
            </div>
        </mat-tab>
        <mat-tab label="Descripción">
            <div class="example-small-box mat-elevation-z4">
                <h2>
                    <p>Precio: 135.00</p>
                    <p>Categoría: comida</p>
                </h2>
            </div>
        </mat-tab>
        <mat-tab label="label"></mat-tab>
    </mat-tab-group>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Foto">
            <div class="example-small-box mat-elevation-z4">
                <img src="../../../assets/images/plato3.jpg">
            </div>
        </mat-tab>
        <mat-tab label="Descripción">
            <div class="example-small-box mat-elevation-z4">
                <h2>
                    <p>Precio: 135.00</p>
                    <p>Categoría: comida</p>
                </h2>
            </div>
        </mat-tab>
        <mat-tab label="label"></mat-tab>
    </mat-tab-group>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Foto">
            <div class="example-small-box mat-elevation-z4">
                <img src="../../../assets/images/plato1.png">
            </div>
        </mat-tab>
        <mat-tab label="Descripción">
            <div class="example-small-box mat-elevation-z4">
                <h2>
                    <p>Precio: 135.00</p>
                    <p>Categoría: comida</p>
                </h2>
            </div>
        </mat-tab>
        <mat-tab label="label"></mat-tab>
    </mat-tab-group>
</div>