<body>
    <mat-toolbar class="toolbar2">
        <a routerLink="/menu">
            <button mat-fab class="button-toolbar1" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        </a>
        <h2 class="sign-in">Menu</h2>

        <div class="example-spacer"></div>

        <a routerLink="/login">
            <button mat-fab class="button-toolbar1">
        <mat-icon>account_circle</mat-icon>
      </button>
        </a>
        <h2 class="sign-in">Sign in</h2>
    </mat-toolbar>
</body>
<router-outlet></router-outlet>