<header>
    <mat-toolbar class="toolbar1">
        <a routerLink="/">
            <button mat-icon-button class="button-toolbar1">
        <mat-icon>food_bank</mat-icon>
      </button>
        </a>
        <p>Home</p>
        <p>&nbsp;</p>

        <a href="https://wa.me/51918103757?text=Contactando%20a%20Jose%20Antonio%20Condori%20Mendoza">
            <button mat-icon-button class="button-toolbar1">
        <mat-icon>phone</mat-icon>
      </button>
        </a>
        <p>Escríbenos</p>

        <div class="example-spacer"></div>

        <a routerLink="/ofertas">
            <button mat-icon-button class="button-toolbar1">
        <mat-icon>shopping_cart</mat-icon>
      </button>
        </a>
        <p>Ver ofertas</p>
    </mat-toolbar>
</header>

<body>
    <mat-toolbar class="toolbar2">
        <a routerLink="/menu">
            <button mat-fab class="button-toolbar1" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        </a>
        <h2 class="sign-in">Menu</h2>

        <div class="example-spacer"></div>

        <a routerLink="/login">
            <button mat-fab class="button-toolbar1">
        <mat-icon>account_circle</mat-icon>
      </button>
        </a>
        <h2 class="sign-in">Sign in</h2>
    </mat-toolbar>
</body>
<footer>
    <mat-toolbar class="toolbar3">
        <a routerLink="/productos">
            <button mat-fab class="button-toolbar1">
        <mat-icon>food_bank</mat-icon>
      </button>
        </a>
        <p>Nuestros productos</p>
        <p>&nbsp;</p>

        <a href="https://wa.me/51918103757?text=Contactando%20a%20Jose%20Antonio%20Condori%20Mendoza">
            <button mat-icon-button class="button-toolbar1">
        <mat-icon>phone</mat-icon>
      </button>
        </a>
        <p>Escríbenos</p>

        <div class="example-spacer"></div>
    </mat-toolbar>

    <mat-toolbar class="toolbar3">
        <div class="example-spacer"></div>

        <a routerLink="/recetas">
            <button mat-fab class="button-toolbar1">
        <mat-icon>content_paste</mat-icon>
      </button>
        </a>
        <p>Recetas</p>
        <p>&nbsp;</p>
        <a href="https://maps.google.com/?ll=23.135249,-82.359685&z=14">
            <button mat-fab class="button-toolbar1">
        <mat-icon>location_on</mat-icon>
      </button>
        </a>
        <p>ubícanos</p>
    </mat-toolbar>
    <mat-toolbar class="pie"></mat-toolbar>
</footer>
<router-outlet></router-outlet>